body{
	font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}

h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D;
}


p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}


img {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed white;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid white;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    /* border: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 5px solid white; */
    border-width: 0px 0px 2px 5px;  
    border-style: solid; 
    border-color: white;  
}


.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    /* border-right: 5px solid white;
    border-top: 2px solid white; */
    border-width: 2px 5px 0px 0px;  
    border-style: solid; 
    border-color: white;  
}


.blue h1, .blue h2, .blue p {
    color: #C4C4C4;
}


.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;  
    border-style: solid; 
    border-color: white;  
    color: #000000
}

.yellow p {
    color: #707070;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}

footer {
    background: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid white;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}

